*{
    margin:0 ;
    padding:0 ;
    box-sizing:border-box;
}
/* EXO 6 imbriqué les éléments sans le transform translate avec le display flex */
.blue{
    width: 700px;;
    height: 700px;
    background-color:cyan;
}

.red{
    background-color: red;
    width: 500px;
    height: 500px;
}

.purple{
        background-color: purple;
        width: 200px;
        height: 200px;
}

/* 1. 3 rectangles (div), chacun a une ascendance sur l'autre
2. Centrer chaque élément verticalement et horizontalement:
 - le bleu (grand-parent) par rapport au body
 - le rouge (le parent) par rapport au bleu
 - le violet (l'enfant) par rapport au rouge
 
 Ils auront le même noyau. */ 
.box-center{
    display: flex;
    /* alignement horizontale droite gauche */
    justify-content: center;
    /* alignement verticalement haut et bas */
    align-items: center;
}

/* le body doit être utilisé */
body {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
 }